.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form {
    font-family: Arial, Helvetica, sans-serif;
    color: black
}

.bootstrap-iso form button, .bootstrap-iso form button:hover {
    color: white !important;
}
.margin-top{
    margin-top:20px;
}
.margin-top-question{
    margin-top: 10px;
}
.padding-right{
    padding-right:0px !important;
}
.padding-left{
    padding-left: 2px !important;
}
.btn-width{
    min-width: 100px !important;
}
.asteriskField {
    color: red;
}
.margin{
    margin:10px !important;
}
