<div class="bootstrap-iso">
    <div class="panel panel-primary">
        <div class="panel-heading">Tasqat Flow</div>
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-5 col-sm-5 col-lg-5">
                            <div class="form-group ">
                                <label class="control-label " for="question">
                                    Question
                                </label>
                                <input class="form-control" id="question" type="text"/>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-6 padding-right">
                            <div class="form-group ">
                                <label class="control-label " for="answer">
                                    Answer
                                </label>
                                <input class="form-control" id="answer"  type="text"/>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-1 col-lg-1 text-left margin-top" >
                            <div class="form-group">
                                <div>
                                    <button class="btn btn-lg  btn-primary " name="submit" type="submit">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row col-sm-12">
                        <div class="panel panel-warning">
                            <div class="panel-body">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-5 col-sm-5 col-lg-5">
                                        <div class="form-group ">
                                            <label class="control-label " for="edit-question">
                                                Question
                                            </label>
                                            <input class="form-control" id="edit-question"  type="text"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-lg-6 padding-right">
                                        <div class="form-group ">
                                            <label class="control-label " for="edit-answer">
                                                Answer
                                            </label>
                                            <input class="form-control" id="edit-answer" type="text"/>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-1 col-lg-1 text-left margin-top" >
                                        <div class="form-group">
                                            <div>
                                                <button class="btn btn-lg btn-info " name="submit" type="submit">
                                                    <i class="fa fa-pencil"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row col-sm-12">
                        <div class="panel panel-danger">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-lg-12">
                                        <div class="text-center">
                                            <strong> Do you want to delete this element ?</strong>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-lg-12 margin-top-question">
                                        <div class="col-sm-6 col-md-6 col-lg-6 text-right padding-right">
                                            <button class="btn btn-danger btn-width"><i class="fa fa-trash-o"></i></button>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-6 text-left padding-left">
                                            <button class="btn btn-default btn-width"><i class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row col-sm-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                Questions & Answers
                            </div>
                            <div class="panel-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Question</th>
                                        <th>Answer</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>This is a question ?</td>
                                        <td>This should be an answer</td>
                                        <td>
                                            <button class="btn btn-info"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>